nav {
  display: flex;
  justify-content: space-between;
  margin: 10px auto;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 20px;
  padding: 0 10px;
}

nav li:hover {
  color: var(--purple);
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}
